dist: xenial
language: node_js
python:
  - "3.8"
node_js:
  - 12.11.1
services:
  - redis-server
before_install:
  - sudo apt-get update
  - sudo apt-get install -y npm build-essential libcairo2-dev
    libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
    python3-pip python3-setuptools
  - npm install -g npm@latest
install:
  - sudo python3 -m pip install --upgrade pip
  - sudo python3 -m pip install --ignore-installed -r scripts/requirements.txt
  - npm install canvas --build-from-source
  - npm install
script:
  - pylint scripts/
  - node_modules/.bin/eslint .
  - node_modules/.bin/tslint --project tsconfig.json --config tslint.json
  - node_modules/.bin/npx webpack --config webpack.config.js --mode=production
  - npm test
branches:
  only:
    - master
cache:
  npm: false
