<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<!-- Page Content -->
<div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project Dashboard
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- /.table-responsive -->
                        <div class="well">
                            <h4>Downloads</h4>
                            <p>Instructions: Task URLs are distributed to workers.</p>
                            <a type="submit" id="download_list"
                               class="btn btn-default btn-md" target="_blank"
                               href="">Download Task URLs</a>
                            <form id="download-form">
                                <a type="submit" id="download_result"
                                   class="btn btn-default btn-md"
                                   target="_blank"
                                   href="">Download Results</a>
                            </form>
                        </div>
                        <table width="100%"
                               class="table table-striped table-bordered table-hover"
                               id="main_table">
                            <thead>
                            <tr>
                                <th>Assignment #</th>
                                <th># Labeled images</th>
                                <th># Submissions</th>
                                <th>Task Link</th>
                                <th>Task Result</th>
                            </tr>
                            </thead>
                            <tbody>
                                <!-- iterate over tasks -->
                                {{ range $key, $value := .Tasks }}
                                <tr>
                                    <th>
                                        {{ $value.AssignmentID }}
                                    </th>
                                    <th>
                                        {{ $value.NumLabeledImages }}
                                    </th>
                                    <th>
                                        {{ $value.NumSubmissions }}
                                    </th>
                                    <th>
                                        <a href="{{ $value.TaskURL }}">
                                            link
                                        </a>
                                    </th>
                                    <th>
                                        <!-- TODO: result -->
                                    </th>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                        <table width="100%"
                               class="table table-striped table-bordered table-hover"
                               id="vid_table">
                            <thead>
                            <tr>
                                <th>Task Link</th>
                                <th>Task Result</th>
                            </tr>
                            </thead>
                            <tbody>
                                <!-- iterate over tasks -->
                                {{ range $key, $value := .VideoTasks }}
                                <tr>
                                    <th>
                                        <a href="{{ $value.TaskURL }}">
                                            {{ $value.TaskName }}
                                        </a>
                                    </th>
                                    <th>
                                        <!-- TODO: result -->
                                        under construction
                                    </th>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <!--<div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>-->
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<!-- Google Analytics -->
<script src="./js/thirdparty/analytics.js"></script>

<!-- jQuery -->
<script src="./js/thirdparty/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="./js/thirdparty/bootstrap.min.js"></script>

<script type="text/javascript">

    function download(filename, text) {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }

    function getID(id) {
        var str = id.toString();
        var len = str.length;
        for (var i = 0; i < (4 - len); i++) {
            str = "0" + str;
        }
        return str;
    }

    $(document).ready(function () {

        var searchParams = new URLSearchParams(window.location.search);
        var project_name = searchParams.get('project_name');
        var num_assignments = searchParams.get('num_assignments');
        var label_type = "";

        $(".panel-heading").text(project_name);
        var download_task_url = "";

        for (var i = 0; i < num_assignments; i++) {
            (function () {
                var assignment_id = getID(i);
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    var assignment;
                    var num_labeled_images = 0;
                    var num_submissions = 0;
                    var task_url = "";
                    var result_url = "";
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        if (xhr.response) {
                            assignment = JSON.parse(xhr.response);
                            num_labeled_images = assignment.numLabeledImages;
                            num_submissions = assignment.numSubmissions;
                            label_type = assignment.labelType;
                            task_url =  "./" + label_type + "_labeling?" +
                                "task_id=" + assignment_id +
                                "&project_name=" + project_name;

                            download_task_url += task_url + "\n";

                            result_url =
                                "./result?" +
                                "label_type=" + label_type +
                                "&task_id=" + assignment_id +
                                "&project_name=" + project_name;
                        }
                        var table_row = $('<tr>');
                        $("#main_table").find('tbody').append(table_row);
                        table_row.append($('<td>')
                            .append($('<div></div>')
                                .text(assignment_id)
                            )
                        );
                        table_row.append($('<td align="center">')
                            .append($('<div></div>')
                                .text(num_labeled_images)
                            )
                        );
                        table_row.append($('<td align="center">')
                            .append($('<div></div>')
                                .text(num_submissions)
                            )
                        );
                        table_row.append($('<td>')
                            .append($('<a href="">link</a>')
                                .attr('href', task_url)
                            )
                        );
                        table_row.append($('<td>')
                            .append($('<a href="">link</a>')
                                .attr('href', result_url)
                            )
                        );
                    }
                };

                var request = JSON.stringify({
                    "assignmentId": assignment_id,
                    "projectName": project_name
                });
                xhr.open("POST", "./requestInfo", false);
                xhr.send(request);
            })();

        }

        $('#download_list').click(function () {
            if (download_task_url) {
                var filename = project_name + "_task_url.txt";
                download(filename, download_task_url);
            } else {
                console.log("Task urls not available.")
            }
        });

        $('#download_result').attr('href',
            "./fullResult?" +
            "label_type=" + label_type +
            "&project_name=" + project_name);

    });


</script>

</body>

</html>
