black
boto3
Flask
Flask-Cors
isort
joblib
mypy
numpy
Pillow
plyfile
psutil
pycocotools
pydantic
pydocstyle
pyhumps
pylint
pyparsing
pytest
python-dateutil
PyWavelets
PyYAML
requests
scikit-image
scipy
setuptools
torch>=1.4.0
torchvision>=0.5.0
tqdm
toml
wheel