black
boto3
coloredlogs
Cython
Flask
Flask-Cors
hydra-core
isort
joblib
matplotlib
motmetrics
mpi4py
mypy
nanoid
numba
numpy
opencv-python
pandas
Pillow
plyfile
protobuf
psutil
pycocotools
pydantic
pydocstyle
pylint
pyparsing
pyquaternion
pytest
python-dateutil
pytorch3d
PyWavelets
PyYAML
ray[serve]
redis
requests
scikit-image
scikit-learn
scipy
seaborn
tabulate
tenacity
toml
tqdm
wheel


numpy==1.20.3 
coloredlogs==15.0.1 
hydra-core==1.1.1 
matplotlib==3.4.3 
mpi4py==3.1.1 
seaborn==0.11.2 
tenacity==8.0.1 
numba==0.54.0 
Cython==0.29.24 
# awscli==1.20.27 
# boto3==1.18.27 
# numpy==1.20.3 
# pandas==1.3.2 
# requests==2.26.0 
# scikit-image==0.18.2 
# scipy==1.7.1 
# tqdm==4.62.2 
# wandb==0.12.0
# pycocotools==2.0.0
# nuscenes-devkit==1.1.7
# torch==1.9.0 
# torchvision==0.10.0
