# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build & Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    name: lint python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install apt packages
        run: |
          sudo apt-get install -y libopenmpi-dev
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install --ignore-installed -r scripts/requirements.txt
          python3 -m pip install --ignore-installed -r scripts/requirements-opt.txt
          python3 -m pip install --ignore-installed -r scripts/requirements-dev.txt
      - name: Build mypy cache
        continue-on-error: true
        run: python3 -m mypy scalabel
      - name: Install mypy types
        run: echo "y" | python3 -m mypy --install-types
      - name: Lint
        run: |
          python3 -m pylint scalabel
          python3 -m pydocstyle --convention=google scalabel
          python3 -m mypy --strict --allow-untyped-calls --show-error-codes --warn-unused-ignores scalabel
          python3 -m black --check scalabel
          python3 -m isort -c scalabel/**/*.py

  python:
    name: test py${{ matrix.python-version }} on ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Install apt packages
        run: |
          sudo apt-get install -y libopenmpi-dev
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install --ignore-installed -r scripts/requirements.txt
          python3 -m pip install --ignore-installed -r scripts/requirements-opt.txt
          python3 -m pip install --ignore-installed -r scripts/requirements-dev.txt
      - name: Build
        run: python3 setup.py sdist bdist_wheel
      - name: Test
        run: |
          export PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
          python3 -m pytest --pyargs tests

  python-mac:
    name: test py${{ matrix.python-version }} on mac
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ["3.9.16", "3.10.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Install brew packages
        run: |
          brew install openmpi
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install --ignore-installed -r scripts/requirements.txt
          python3 -m pip install --ignore-installed -r scripts/requirements-opt.txt
          python3 -m pip install --ignore-installed -r scripts/requirements-dev.txt
      - name: Build
        run: python3 setup.py sdist bdist_wheel
      - name: Test
        env:
          MPLBACKEND: TkAgg
          PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION: python
        run: python3 -m pytest --pyargs tests

  nodejs:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
        redis-version: [6, 5]

    services:
      redis:
        # Docker Hub image
        image: redis:${{ matrix.redis-version }}
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6378:6379

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install node packages
        run: |
          # add library dependencies for canvas package in case we need to compile from source
          sudo apt-get install -y build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
          npm ci
      - name: Lint
        run: npx eslint -c .eslintrc.json --ext .ts,.tsx app/src app/test
      - name: Test
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: npm test
      - name: Build
        run: npx webpack --config webpack.config.js --mode=production

  deploy-docker:
    name: build docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and export to Docker
        uses: docker/build-push-action@v3
        with:
          context: .
          load: true
          tags: scalabel/www:test
